@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Roboto:ital,wght@0,400;1,100&family=Rubik+Bubbles&display=swap');

/* fuentes
font-family: 'Bagel Fat One',
system-ui;
font-family: 'Roboto',
sans-serif;
font-family: 'Rubik Bubbles',
system-ui;
*/
/* colores
1
#43766C #F8FAE5 #B19470 #76453B
2
#C2DEDC #ECE5C7 #CDC2AE #116A7B
*/

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

body{
  background:#116A7B;
}

h1{
font-family: 'Rubik Bubbles', system-ui;
text-align: center;
color: #e5d0b6;
}

footer{
  background-color: #76453B;
}

.container-form{
  background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.titulo-footer{
  font-family: 'Roboto',sans-serif;
  color: #F8FAE5;
  text-align: center;
}